*.pyc
*_pb2.py
*.swp
*.o
*.so
*.pb.cc
*.pb.h
*~
.idea
build/
dist/
artifacts/*.yaml
grr.egg-info/
get-pip.py
grr/core/grr_response_core/artifacts/*.yaml
*.egg-info/

grr/core/executables/installers/
grr/core/grr_response_core/var/
grr/core/install_data/etc/server.local.yaml
grr/server/grr_response_server/gui/static/fonts/
grr/server/grr_response_server/gui/static/node_modules/
grr/server/grr_response_server/gui/static/tmp/
